/* Estilos para la tabla de habitaciones */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #004080;
    color: #ffffff;
    text-transform: uppercase;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #dddddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: var(--colorPrincipal);
    transition: background-color 0.3s;
}
